/* blue : 111d4a */
/* lavendar : cfcfea */
/* green: f0ffce */
*{
    border-style: solid;
}

ul {
    list-style: none;
}

.container {
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    height: 100vh;
    background-color: #cfcfea;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.content {
    display: grid;
    grid-template-rows: 150px 1fr;
    background-color: #f0ffce;
}

.top-header {
    display: grid;
    grid-template: 50px 70px / 1fr 1fr;   
    padding: 1em;
    background-color: red;
}

.search-bar, .profile-bar, .functions, .profile-hero {
    display: flex;
    align-items: center;
    gap: 1em;
}

.profile-bar {
    justify-content: flex-end;
    gap: 2em;
    padding: 1em;
    
}

.functions {
    justify-content: space-around;
    gap: 10px;
}

.board {
    display: grid;
    
}



